{% extends 'customer_base.html' %}
{% block content %}
<div class="form-container">
    <h2>Change Password</h2>
    
    <!-- Display form errors -->
    {% if form.errors %}
    <ul>
        {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
